* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f2f2f2;
}

.appContainer {
    & > h1 {
        margin: 12rem 0 21rem;
        text-align: center;
        font-size: 4rem;
    }

    .content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;

        h1{
            font-size: 4rem;
        }

        p{
            max-width: 70%;
            font-size: 1.8rem;
            color: #afadad;
        }
    }
}
